<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bucklst.css') }}" />
  </head>

  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">BuckList</a>
            </div>
            <!--<ul class="nav navbar-nav">
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('team')}}">Team</a></li>
            </ul>-->
            <div id="nav-links">
                {% if not session.email %}
                <a href="{{ url_for('login') }}">log in</a>
                {% else %}
                <a href="{{ url_for('home') }}">My Home</a>
                <a href="{{ url_for('logout') }}">log out</a>
                {% endif %}
            </div>
            
          </div>
          
      </nav>

    {% block body %}
    {% endblock %}

    <!-- Footer content -->
    <div id="footer">
        <div id="footer-content">
        &copy; 2017 Luqee. All Rights Reserved.
    </div>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" charset="utf-8"></script>
    {% endblock %}

  </body>
</html>
