{% extends "base.html" %}
{% block title %}BuckList-Home{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="col-md-3">
      <div class="btn-group-vertical" id="side-navigation">
          <button type="button" class="btn btn-primary">Home</button>
          <button type="button" class="btn btn-primary">Create New Bucket List</button>
          <button type="button" class="btn btn-primary">Accomplished Tasks</button>
          <button type="button" class="btn btn-primary">Pending Tasks</button>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
          <div class="panel-heading">Create A bucket list.</div>
          <div class="panel-body">
              <form action = "/create_item" id="register-form" method="POST">
                  {{ form.hidden_tag() }}
      			<div class="form-group">
      				{{ form.title.label }}
      				{% if form.first_name.errors %}
      					{% for error in form.first_name.errors %}
      						<p class="error-message">{{ error }}</p>
      					{% endfor %}
      				{% endif %}
      				{{ form.title(class='form-control') }}
      			</div>
      			<div class="form-group">
      				{{ form.description.label }}
      				{% if form.last_name.errors %}
      					{% for error in form.last_name.errors %}
      						<p class="error-message">{{ error }}</p>
      					{% endfor %}
      				{% endif %}
      				{{ form.description(class='form-control') }}
      			</div>
      			<div class="form-group">
      				{{ form.date.label }}
      				{% if form.email.errors %}
      					{% for error in form.email.errors %}
      						<p class="error-message">{{ error }}</p>
      					{% endfor %}
      				{% endif %}
      				{{ form.date(class='form-control') }}
      			</div>
      			{{ form.submit(class="btn-primary")}}
              </form>
          </div>
      </div>
    </div>
</div>
{% endblock %}
