{% extends "base.html" %}
{% block title %}BuckList-Home{% endblock %}
{% block body %}
<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a id="create-buck-btn" href="{{ url_for('create_bucket') }}" role="button" class="btn btn-large btn-primary">Create Bucketlist</a>
    <div class="col-md-12">
      <div class="panel panel-default">
          <div class="panel-heading">Bucket Lists.</div>
          <div class="panel-body bucket_lists">
              {% for bucket in bucket_lists %}
              <div class="panel panel-default bucket_list">
                  <div class="panel-heading">
                      <a href="{{ url_for('view_bucket', buck_id=bucket.id) }}"class="btn btn-large btn-primary">{{bucket.name}}</a>

                  </div>
                  <div class="panel-body">
                      {{bucket.description}}
                      <div id="buck_buttons">
                        <a id="remove_buck-btn" href="{{ url_for('remove_bucket', buck_id=bucket.id) }}" role="button" class="btn btn-sm btn-primary">Remove</a>
                        <a id="edit_buck-btn" href="{{ url_for('edit_bucket', buck_id=bucket.id) }}" role="button" class="btn btn-sm btn-primary">Edit</a>
                      </div>
                  </div>
              </div>
              {% else %}
              <p> You have no bucketlists. </p>
              {% endfor %}
          </div>
      </div>

    </div>

</div>
{% endblock %}
