{% extends "base.html" %}
{% block title %}BuckList-Home{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="col-md-12">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <a href="{{ url_for('create_bucket') }}" role="button" class="btn btn-large btn-primary">Create Bucketlist</a>
      <div class="panel panel-default">
          <div class="panel-heading">Welcome To Your Home Page.</div>
          <div class="panel-body">
              {% for bucket in bucket_lists %}
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <a href="{{ url_for('viewBuck') }}"class="btn btn-large btn-primary">bucket.name</a>

                  </div>
                  <div class="panel-body">
                      bucket.description
                      <a href="{{ url_for('removeBuck', buck_id=bucket.id) }}" role="button" class="btn btn-large btn-primary">Remove</a>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>

    </div>

</div>
{% endblock %}
