{% extends "base.html" %}
{% block title %}BuckList-Home{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="col-md-3">
      <div class="btn-group-vertical" id="side-navigation">
          <button type="button" class="btn btn-primary">Home</button>
          <a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Launch Demo Modal</a>
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createBModal">Create New Bucket List</button> -->
          <button type="button" class="btn btn-primary">Accomplished Tasks</button>
          <button type="button" class="btn btn-primary">Pending Tasks</button>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
          <div class="panel-heading">Welcome To Your Bucketlist items.</div>
          <div class="panel-body">
              {% for item in items %}
              <div class="panel panel-default">
                  <div class="panel-heading">
                     item.title
                  </div>
                  <div class="panel-body">
                      item.description
                      <a href="{{ url_for('removeItem', buck_id=buck_id) }}" role="button" class="btn btn-large btn-primary">Remove</a>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
    </div>

</div>
{% endblock %}
