{% extends "base.html" %}
{% block title %}BuckList-Login{% endblock %}
{% block body %}
<div class="container-fluid">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
	{% endwith %}
    <div id="form-holder">
        <form action = "/login" id="login-form" method="POST">
            {{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.email.label }}
				{% if form.email.errors %}
					{% for error in form.email.errors %}
						<p class="error-message">{{ error }}</p>
					{% endfor %}
				{% endif %}
				{{ form.email(class='form-control') }}
			</div>
			<div class="form-group">
				{{ form.password.label }}
				{% if form.password.errors %}
					{% for error in form.password.errors %}
						<p class="error-message">{{ error }}</p>
					{% endfor %}
				{% endif %}
				{{ form.password(class='form-control') }}
			</div>
			{{ form.submit(class="btn-primary")}} or <a href="{{ url_for('register') }}" > register</a> if you don't have an account
        </form>
    </div>
</div>
{% endblock %}
